<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Use our services</title>
</head>
<body>
    <div class="container">
        <form class="my-4" method="POST">
            {% csrf_token %}
            <h2 class="text-center">Use our services</h2>
            <h5 class="text-center">Fill in this form and our team will get in touch with you.</h5>
            <div class="row jumbotron">
                {% for field in beneficiary_form %}
                    <div class="col-sm-6 form-group">
                        <label>{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                {% for field in service_form %}
                    <div class="col-sm-12 form-group">
                        <label>{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
 
